*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: rgb(194, 184, 184);
} 
header{
    font-family: sans-serif;
  border-bottom: 1.5px ridge;
}
.easy{
  height: 15vh;
  position: relative;
  top: 15px;
  right:120px;
  font-size: 1.4rem;
}
.main{
    background-color: white;
    width: 30vw;
    height: 72vh;
    position: relative;
    top: 40px;
    left: 440px;
}
.txt input{
    width: 14vw;
    height: 5vh;
    border-radius: 0.3rem ;
    border: 1px ridge;
    padding: 0 0 0 5px;
}
.txt{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 20px;
    height: 9vh;
}
.mail input{
    width: 28.7vw;
    height: 5vh;
    border-radius: 0.3rem ;
    border: 1px ridge;
    padding: 0 0 0 5px
}
.mail{
    height: 14vh;
    width: 30vw;
    position: relative;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.birth{
    height: 10vh;
}
.birth h4{
    text-align: left;
    position: relative;
    left: 15px;
    font-size: 18px;
}
.birth select{
     width: 9.2vw;
     height: 5vh;
     border-radius: 0.3rem ;
     border: 1px ridge;
     padding: 0 0 0 5px;
     font-size: 16px;
}
.gen{
    height: 13vh;
}
.gen h4{
     text-align: left;
     position: relative;
     left: 15px;
     font-size: 18px;
}
.gen label{
   font-size: 1.3rem;
}
.sub{
    border: 1px ridge;
    width: 8vw;
    height: 5vh;
    border-radius: 0.3rem ;
    border: 1px ridge;
}
.sub input{
  position: relative;
  top: 5px;
}
.sub label{
     position: relative;
     top: 5px;
}
.gen-sub{
    display: flex;
     justify-content: space-evenly;
     position: relative;
     top: 10px;
}
.final{
    height: 14vh;
    position: relative;
    top: 10px;
}
.final input{
    width: 12vw;
    height: 5vh;
    background-color: rgb(14, 167, 14);
    font-size: 19px;
    color: white;
    border: none;
    border-radius: 0.5rem;
}